{% extends 'base.html.twig' %}

{% block title %}best sleep{% endblock %}

{% block body %}

{# Je doit codé ici ? Ah Oups !!!! #}

{# <h1>{{mavariable}}</h1>  #}
<div class="container">
<img class="img-fluid" src="{{ asset('asset/img/hero.png') }}">
</div>

{% endblock %}
 