{# Ici je mis mon code Navbar du Bootstrap #}

<!-- Navbar -->
  
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#F9E1EC;"> 
  <!-- Container wrapper -->
  {# Disparetre le Fluid #}
  <div class="container">
  {# <div class="container-fluid"> #}
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <!-- Navbar Logo -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img class="logo"
          src="{{ asset('asset/img/sleepy.png') }}"
          height="15"
          alt="best_sleep Logo"
          loading="lazy"
        />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_accueil')}}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shop</a>
        </li>
          <a class="nav-link" href="{{path('app_contact') }}">Contact</a>
          </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements Search  -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <i class="fa-solid fa-magnifying-glass"></i>
      </a>

      <!-- Shopping Cart -->
      <i class="fa-brands fa-shopify"></i>
      
      <!-- Profile Picture Connect & Deconect Inscription & Log In -->
      <div class="dropdown">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="{{asset('asset/img/dezzy.png') }}"
            class="rounded-circle"
            height="30"
            width="30"
            alt="Avatar"
            loading="lazy"
          />
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item" href="#">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->